!.env.example
*.log
.DS_Store
.env
.env.*
.vscode
/.svelte-kit
/build
/package
build
lhm-pawnio/bin
node_modules
sensor-bridge/bin
sensor-bridge/obj
settings.json
src-tauri/binaries
src-tauri/target
vite.config.js.timestamp-*
vite.config.ts.timestamp-*